@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Tony Caraffi and I am a senior from Cleveland, OH. I am a double major at Ohio University in finance and MIS. I like working out, playing sports & hanging out with my friends.</p>
